body{
    
}
.container{
    background-color: #CDA5F3;
    border: 2px solid black;
    border-radius: 5px;  
    line-height: 30px;
}
.box{
    border: 2px solid black;
    border-radius: 5px;
}
.main-box{
    border: 2px solid black;
    border-radius: 5px; 
}