body{
    
}
.container{ 
    line-height: 60px;
}
.row{
    height: 60px;
    
}
.container [class*=col] {
/*
    border: 1px solid black;
    background-color: #D8D8D8;
*/
/*    padding: 0;*/
}

div.col-3{
    padding: 0;
}

.box{
    border: 1px solid black;
    background-color: #D8D8D8;
}

div.col-md-4.zone-1, div.col-6.zone-6{
    padding: 0;
}
div.col-6.zone-5{
    padding-left: 0;
    
    
}
div.col-9, div.col-md-4.zone-3{
    padding-right: 0;
}